* {
  font-family: sans-serif;
}

/* .smooth-scrolling::-webkit-scrollbar {
  display: none;
} */

.scroll-container::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.scroll-container::-webkit-scrollbar-thumb {
  background: #555;
}
.scroll-container::-webkit-scrollbar {
  width: 1px;
}


/* ---- rangeInputStyle ------ */
/* Thumb styles for Webkit browsers */
.rangeInputStyle::-webkit-slider-thumb {
  appearance: none; /* Remove default styling */
  width: 15px; /* Thumb width */
  height: 15px; /* Thumb height */
  background: white; /* Thumb color */
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
}


